{{- if not ($.Page.Scratch.Get "gallery") }}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.0/jquery.fancybox.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.0/jquery.fancybox.min.js"></script>
  <script type="text/javascript">
    $(function() {
         $('.thumb-item').slick({
              arrows: true,
              dots: false,
              infinite: true,
              speed: 1000,
              slidesToShow: 1,
              adaptiveHeight: true,
              autoplay: true,
              autoplaySpeed: 6000
         });
    });
  </script>
  <style>
  	.thumb-item {
  		padding-left:0;
  		margin:0;
  	}
  </style>
{{ end }}
{{- $.Page.Scratch.Add "gallery" 1 -}}
{{ $src := .Get "src" }}
{{ $files := print "gallery/" $src "*" }}
{{ $original := .Page.Resources.Match $files }}

<div class="gallery">
	<ul class="thumb-item">
  {{- range $original }}
    {{ $thumbnail_s := .Resize "1000x q90" }}
    <li><a class="slideItem" id="ver" data-fancybox="gallery{{ $.Get "name" }}" href="{{ . }}"><img src="{{ $thumbnail_s.RelPermalink }}" title="" /></a></li>
  {{- end }}
</ul>
</div>
