  <div class="home-contents">
          <h2 class="home-categories">I AM</h2>
          <section class="clearfix">
            <div class="iam">
              {{ $content := (index .Site.Data) }}{{ with $content.homepage.profile }}{{with .image}}<img src="{{ . | relURL }}" class="image">{{end}}
                <div class="profile">
                  <h2 class="name">{{ .title | markdownify }}</h2>
                  <h3>{{ .job | markdownify }}</h3>
                  <p>{{ .content | markdownify }}</p>
                  {{ if .button.enable }}{{ with .button }}<div><a href="{{ .link | safeURL }}">{{ .label }}</a></div>{{ end }}{{ end }}
                  <h3>{{ .feature_title }}</h3>
                  <ul>{{ range .feature_item }}
                    <li>{{ .year }} {{ .company }} / {{ .job }}</li>{{ end }}
                  </ul>
                  <p><h3>{{ .skill_title }}</h3></p>
                  {{ range .skill_item }}<div class="profile_skill">
                    <img src="images/{{ .icon }}" width="15" style="vertical-align:middle" /> {{ .name }}
                  </div>
                  {{ end }}<br clear="all" />
                  <p><h3>{{ .tool_title }}</h3></p>
                  {{ range .tool_item }}<div class="profile_tool">
                    <img src="images/{{ .icon }}" width="15" style="vertical-align:middle" /> {{ .name }}
                  </div>
                  {{ end }}<br clear="all" />
                  <p><h3>{{ .contact_title }}</h3></p>
                  {{ range .contact_item }}<b>{{ .name }}</b> : {{ .detail }} <br />
                  {{ end }}
                </div>
              {{ end }}</div>
          </section>
          <h2 class="home-categories">Development</h2>
          <section class="clearfix">
            {{ range first 100 (where $.Site.RegularPages "Section" "develop") }}{{ partial "home-li.html" . }}{{ end }}
          </section>
          <h2 class="home-categories">UI</h2>
          <section class="clearfix">
            {{ range first 100 (where $.Site.RegularPages "Section" "ui") }}{{ partial "home-li.html" . }}{{ end }}
          </section>
          <h2 class="home-categories">Web</h2>
          <section class="clearfix">
            {{ range first 100 (where $.Site.RegularPages "Section" "web") }}{{ partial "home-li.html" . }}{{ end }}
          </section>
          <h2 class="home-categories">Misc</h2>
          <section class="clearfix">
            {{ range first 100 (where $.Site.RegularPages "Section" "misc") }}{{ partial "home-li.html" . }}{{ end }}
          </section>
          <h2 class="home-categories">Study</h2>
          <section class="clearfix">
            {{ range first 100 (where $.Site.RegularPages "Section" "study") }}{{ partial "home-li.html" . }}{{ end }}
          </section>
        </div>
