{{ partial "header.html" . }}

{{if .Params.image}}
  {{if or (eq (substr .Params.image 0 7) "http://") (eq (substr .Params.image 0 8) "https://")}}
  <header class="main-header post-head">
  <div class="post-head-bg" style="background-image: url({{.Params.image }})"></div>
  {{ else }}
  <header class="main-header post-head">
  <div class="post-head-bg" style="background-image: url({{.Params.image | relURL}})"></div>
  {{ end }}
  <nav class="main-nav overlay clearfix">
{{else}}
<header class="main-header post-head no-cover">
  <nav class="main-nav clearfix">
{{end}}

  {{ if .Site.Params.logo }}
      <a class="blog-logo" href="{{.Site.BaseURL}}"><img src="{{ .Site.Params.logo | relURL}}" alt="Home" /></a>
  {{end}}
  {{ if .Site.Menus.main }}
      <a class="menu-button" href="#"><span class="burger">&#9776;</span><span class="word">Menu</span></a>
  {{else}}
      <a class="menu-button icon-feed" href="{{ "index.xml"| relURL}}" >&nbsp;&nbsp;Subscribe</a>
  {{end}}
  </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ .Title }}</h1>
            <h2 class="page-description">{{ .Description }}</h2>
            <section class="post-meta">
            {{ if eq .Section "develop" "misc" "ui" "study" "web"}}
            <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
            {{ .Date.Format "Jan 2, 2006" }}
            </time>{{ range .Params.tags }}
            <span class="post-tag small"><a href="{{$.Site.BaseURL}}/tags/{{ . | urlize }}/">#{{ . }}</a></span>
            {{ end }}</section>
        {{end}}
        </div>
    </div>
</header>

<main class="content" role="main">

  <article class="post {{ .Section }}">

    <section class="post-content">
      {{if .Params.information}}<div class="information">
        {{if .Params.DevelopmentPeriod}}<div class="period">
          <h5>制作期間</h5>
          <p>{{ .Params.DevelopmentPeriod }}</p>
        </div>{{ end }}
        {{if .Params.member }}<div class="member">
          <h5>担当者数</h5>
          <p>{{ .Params.Member }}</p>
        </div>{{ end }}
        {{if .Params.workDetail }}<div class="workDetail">
          <h5>作業内容</h5>{{ range .Params.workDetail }}
              <ul>
                <li><b>{{ .title }}</b> : {{ ._target.text }}</li>
              </ul>{{ end }}
          </div>{{ end }}
        {{if .Params.detail }}<div class="detail">
          <h5>詳細</h5>{{ range .Params.detail }}
            <ul>
              <li>{{ . }}</li>
            </ul>
          {{ end }}</div>{{ end }}
      </div>
    {{ end }}
      <div class="post-content-inner">{{ .Content }}</div>
    </section>

  <footer class="post-footer">

    {{ partial "author.html" . }}

    {{ partial "share.html" . }}

    {{ partial "disqus.html" . }}

  </footer>
</article>

</main>

{{ partial "footer-navigation.html" . }}

{{if not .Params.hideSuggestions }}
  {{ partial "suggestions.html" . }}
{{ end }}

{{ partial "footer.html" . }}
